:root {
    --base-color-light: #fefbf0;
    --base-color-dark: #0c0c0c;
    --theme-color: #fecc33;
    --theme2-color: #a50021;
    --highlight-color: #86cb9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delius', "Papyrus", "cursive";
}

body {
    overflow-x: hidden;
    background-color: var(--base-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Delius", "Papyrus", "cursive";
}



/* foundation settings */
.top-bar,
.top-bar ul,
.menu {
    background-color: var(--base-color-light);
}

.title-bar {
    background-color: var(--theme2-color);
    color: var(--base-color-light);
}

.grid-container {
    width: 90%;
}

/* padding  */
.padding-small {
    padding-left: 0.25rem;
    padding-right: 0.25rem;    
}

.padding-normal {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.padding-big {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

/* margin  */
.margin-small {
    margin-left: 1rem;
    margin-right: 1rem;
}

.margin-normal {
    margin-left: 2rem;
    margin-right: 2rem;
}

.margin-big {
    margin-left: 3rem;
    margin-right: 3rem;
}



/* landing - hero */

.landing-hero {
    background-color: var(--theme-color);
}

/* navigation */
.top-bar {
    width: 90%;
}

.logo {
    width: 10rem;
}


/* what is kushobi section */

.landing-image{
    position: relative;
    left: 20rem; 
    top: 5rem
}
.mockup{
    overflow: hidden;
    width: 140rem;
    shape-outside: polygon(nonzero, 58.8% 11.25%, 77.05% 10.4%, 99.65% 32.55%, 100% 67.55%, 96.6% 64.95%, 69.2% 79.15%, 29.85% 98.8%, 28.2% 88.9%, 18.8% 33.75%, 32.85% 23.3%, 42.25% 18.7%, 49.2% 20.35%);
    -webkit-shape-outside: polygon(nonzero,58.8% 11.25%, 77.05% 10.4%, 99.65% 32.55%, 100% 67.55%, 96.6% 64.95%, 69.2% 79.15%, 29.85% 98.8%, 28.2% 88.9%, 18.8% 33.75%, 32.85% 23.3%, 42.25% 18.7%, 49.2% 20.35%);
}
