:root {
    --base-color-light: #fefbf0;
    --base-color-dark: #0c0c0c;
    --theme-color: #fecc33;
    --theme2-color: #a50021;
    --highlight-color: #86cb9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delius', "Papyrus", "cursive";
}

body {
    overflow-x: hidden;
    background-color: var(--base-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Delius", "Papyrus", "cursive";
}

.uppercase {
    text-transform: uppercase;
}

.underline {
        border-bottom: solid 2px var(--highlight-color);
        display: inline-block;
        line-height: -0.25rem;
    }
p {
    line-height: 1.75rem;
}

.highlighter {
    color: var(--theme2-color);
}
    .highlighter:hover {
        color: var(--highlight-color);
    }
/* foundation settings */

.top-bar,
.top-bar ul,
.menu {
    background-color: var(--base-color-light);
}

.title-bar {
    background-color: var(--theme2-color);
    color: var(--base-color-light);
}

.grid-container {
    width: 70%;
}

.top-bar-right .menu > li a:hover {
    color: var(--base-color-dark);
    border-bottom: 2px solid var(--highlight-color); 
}

.button {
    background-color: var(--highlight-color);
    color: var(--base-color-light);
}
    .button:hover {
        background-color: #629472;
    }
    .button.large {
        padding-right: 2rem;
        padding-left: 2rem;
    }
a { 
    color: var(--base-color-dark);
}
    

/* landing - hero */
.landing-hero {
    background-color: var(--theme-color);
}

/* navigation */
.top-bar {
    width: 70%;
}

.logo img {
    width: 10rem;
}

.logo {
    padding: 0 !important;
}


/* what is kushobi section */
.mockup-container {
    position: absolute;
    left: 5rem;
    width: 280%;
}
.mockup{
    width: 100%;
    z-index: 0;
}

.about {
    width: 100%;
    position: relative;
    max-height: 50rem;
    z-index: -5;
    background-image: url('/static/images/landing/about-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* make these parts responsive */
    /* transform: translateY(-5rem); */
}
    .about .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: var(--theme-color);
        opacity: 0.4;
        z-index: -5;
    }

    .about .grid-container {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    .clearfix {
        overflow: hidden;
    }


    .headshot {
        width:20em;
        height: 20em;
        max-height: 15rem;
        max-width: 15rem;
        margin-right: 2rem;
        shape-outside: circle();
        -webkit-shape-outside: circle();
        -moz-shape-outside: circle();
        -o-shape-outside: circle();
    }

/* characters section */
.characters-section header {
    text-align: center;
}

.character {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
    
    .character img {
        width: 10rem;
        filter: drop-shadow(10px 10px 5px rgba(165, 0, 33, 0.3));
    }

    .oxie {
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 17rem;
    }
        .oxie img {
            filter: drop-shadow(10px 10px 5px rgba(165, 0, 33, 0.3));
        }

/*-- donate page --*/


    .donate .image-container img {
        width: 50%;
        shape-outside: url('/static/images/landing/oxie-ful.png');
        -webkit-shape-outside: url('/static/images/landing/oxie-ful.png');
        -o-shape-outside: url('/static/images/landing/oxie-ful.png');
        shape-margin: 2rem;
    }

    .donate .image-container div {
        height: 20rem;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

/* contact */
.contact .icons {
    width: 6rem;
    padding-top: 2rem; 
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    /* margin-bottom: 2rem; */
}

.contact {
    margin-bottom: 10rem;
}
    .contact .icons > i {
        font-size: 2.5rem;
        color: var(--highlight-color);
    }
    .contact .icons > i:nth-child(1) {
        margin-right: 0.5rem;
    }

    .contact .grid-x.grid-margin-x {
        margin-top: 5rem;
    }

    .contact form.grid-container {
        width: 100%;
        padding: 0;
    }

    input[type="text"], textarea {
        box-shadow: 10px 10px 10px rgba(165, 0, 33, 0.3);
    }

